.nav-link {
  font-style: italic;
  font-weight: 400px;
  line-height: normal;
  user-select: none;
}

.nav-link-area:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-link-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.underlined {
  text-decoration: underline;
}
